@import "@/functions/_is-inside.scss";
@import "@/functions/_parent.scss";
@import "@/functions/_remove-unit.scss";
@import "@/functions/_screen.scss";
@import "@/mixin/_aspect-ratio.scss";
@import "@/mixin/_col.scss";
@import "@/mixin/_font-size.scss";
@import "@/mixin/_hover.scss";
@import "@/mixin/_lhCrop.scss";
@import "@/mixin/_mediaQueries.scss";
@import "@/mixin/_mixin.scss";
@import "@/mixin/_object-fit.scss";
@import "@/mixin/_pcOnly.scss";
@import "@/mixin/_replace.scss";
@import "@/mixin/_state.scss";
@import "@/mixin/_visually-hidden.scss";

@import "@/reset/_reset-button.scss";
@import "@/reset/_reset-input.scss";
@import "@/reset/_reset-select.scss";
@import "@/reset/_reset-textarea.scss";

@import "@/variable/_break_points.scss";
@import "@/variable/_color.scss";
@import "@/variable/_easing.scss";
@import "@/variable/_keyframes.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 48px;
}

.links {
  display: flex;
}

.linksWrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.linksWrap > li {
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:last-child {
    padding-right: 0px;

  }
  &:after {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #0a061a;
    display: block;
    margin-left: 16px;
  }
}

.navBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  font-size: 12px;
  line-height: 1.5;
  font-style: normal;
  padding: 8px;
  position: relative;
  width: 96px;
  &:not(:last-of-type) {
    margin-right: 24px;
  }
  span {
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px;
  }
}

.navListEn {
  font-weight: bold;
  color: #242423, 100%;
  transform: rotateX(0deg);
  transform-origin: 0 50% -9px;
  transform-style: preserve-3d;
  transition: 0.3s;
  @include state(".navList", ":hover") {
    transform: rotateX(90deg);
  }
}

.navListJa {
  background: #242423;
  color: #fff;
  transform: rotateX(-90deg);
  transform-origin: 0 50% -9px;
  transform-style: preserve-3d;
  transition: 0.4s;
  @include state(".navList", ":hover") {
    transform: rotateX(0deg);
  }
}

.logo{
  width: 136px;
}