@import "styles/foundation/functions/_is-inside.scss";
@import "styles/foundation/functions/_parent.scss";
@import "styles/foundation/functions/_remove-unit.scss";
@import "styles/foundation/functions/_screen.scss";
@import "styles/foundation/mixin/_aspect-ratio.scss";
@import "styles/foundation/mixin/_col.scss";
@import "styles/foundation/mixin/_font-size.scss";
@import "styles/foundation/mixin/_hover.scss";
@import "styles/foundation/mixin/_lhCrop.scss";
@import "styles/foundation/mixin/_mediaQueries.scss";
@import "styles/foundation/mixin/_mixin.scss";
@import "styles/foundation/mixin/_object-fit.scss";
@import "styles/foundation/mixin/_pcOnly.scss";
@import "styles/foundation/mixin/_replace.scss";
@import "styles/foundation/mixin/_state.scss";
@import "styles/foundation/mixin/_visually-hidden.scss";

@import "styles/foundation/mixin/utility/_reset-button.scss";
@import "styles/foundation/mixin/utility/_reset-input.scss";
@import "styles/foundation/mixin/utility/_reset-select.scss";
@import "styles/foundation/mixin/utility/_reset-textarea.scss";

@import "styles/foundation/variable/_break_points.scss";
@import "styles/foundation/variable/_color.scss";
@import "styles/foundation/variable/_easing.scss";
@import "styles/foundation/variable/_keyframes.scss";

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
