@import "@/functions/_is-inside.scss";
@import "@/functions/_parent.scss";
@import "@/functions/_remove-unit.scss";
@import "@/functions/_screen.scss";
@import "@/mixin/_aspect-ratio.scss";
@import "@/mixin/_col.scss";
@import "@/mixin/_font-size.scss";
@import "@/mixin/_hover.scss";
@import "@/mixin/_lhCrop.scss";
@import "@/mixin/_mediaQueries.scss";
@import "@/mixin/_mixin.scss";
@import "@/mixin/_object-fit.scss";
@import "@/mixin/_pcOnly.scss";
@import "@/mixin/_replace.scss";
@import "@/mixin/_state.scss";
@import "@/mixin/_visually-hidden.scss";
@import "@/reset/_reset-button.scss";
@import "@/reset/_reset-input.scss";
@import "@/reset/_reset-select.scss";
@import "@/reset/_reset-textarea.scss";
@import "@/variable/_break_points.scss";
@import "@/variable/_color.scss";
@import "@/variable/_easing.scss";
@import "@/variable/_keyframes.scss";

//component 使い回しパーツ
@import "../object/component/_common-el.scss";
@import "../object/component/ui/form/_checkbox.scss";
@import "../object/component/ui/form/_file.scss";
@import "../object/component/ui/form/_radio.scss";
@import "../object/component/ui/form/_text.scss";
@import "../object/component/ui/form/_textarea.scss";


.heading {
 padding: 16px;
 color: steelblue;
 font-size: 24px;
 font-weight: bold;
 @include max-screen($sp){
  color: black;
 }
}